IMAGE_NAME=kinoite-nix

REPO_ORGANIZATION="jahinzee"

IMAGE_DESC="A light modification of Fedora Kinoite with multi-user Nix."
IMAGE_KEYWORDS="bootc,oci,linux"

IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
